<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container">
    <!--
    <div class="row">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-1 img-left">
            <img class="border-esp rounded-circle" src="../../assets/img/lego-capitan_america.jpg" width="150px" height="150px">
        </div>
        <div class="col-sm-1 img-right">
            <img class="border-esp  rounded-circle" src="../../assets/img/lego-capitana_marvel.jpg" width="150px" height="150px">
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
    -->
    
      
    <div class="row">
        <div class="col-md-5">
          <div class="card flex-row flex-wrap text-end border-0">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center" style="max-width: 540px;">
            <img class="border-esp rounded-circle" src="../../assets/img/lego-capitan_america.jpg" width="125px" height="125px">
            <img class="border-esp-heart mx-auto d-block" src="../../assets/img/heart.png" width="45px" height="40px">
            <img class="border-esp  rounded-circle" src="../../assets/img/lego-capitana_marvel.jpg" width="125px" height="125px">
        </div>
        <div class="col-md-5">
          <div class="card flex-row flex-wrap border-0">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    

</div>
