<div class="pizarron left" (click)="cambiarClase('left')">
    <img src="https://img2.freepng.es/20180522/vk/kisspng-facebook-like-button-computer-icons-thumb-signal-like-fb-5b03fc1fdeb2a1.3553291615269878079122.jpg" height="250px" width="350px" />
</div>
<div class="pizarron center" (click)="cambiarClase('center')">
    <img src="https://img2.freepng.es/20180522/vk/kisspng-facebook-like-button-computer-icons-thumb-signal-like-fb-5b03fc1fdeb2a1.3553291615269878079122.jpg" height="250px" width="350px" />
</div>
<div class="pizarron right" (click)="cambiarClase('right')">
    <img src="https://img2.freepng.es/20180522/vk/kisspng-facebook-like-button-computer-icons-thumb-signal-like-fb-5b03fc1fdeb2a1.3553291615269878079122.jpg" height="250px" width="350px" />
</div>
